<div ng-controller="ViewHistoryCtrl">
    <div class="container">
        <div class="row">
            <div ng-if="has_files" class="col-md-10 col-md-offset-1">
                <table  class="table table-striped">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Duration</th>
                            <th>Original</th>
                            <th>mp4 Link</th>
                            <th>webm Link</th>
                            <th>Progress</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(id, file) in files">
                            <td><a href="#/embedded/{{id}}">{{file.name}}</a></td>
                            <td>{{file.duration}}</td>
                            <td>{{file.original}}</td>
                            <td>{{file.mp4}}</td>
                            <td>{{file.webm}}</td>
                            <td>
                                <progressbar value="file.progress" type="success" class="progress-striped">
                                    <span style="color:white; white-space:nowrap;">
                                        {{file.progress}}%
                                    </span>
                                </progressbar>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="!has_files" class="col-md-10 col-md-offset-1">
                <div class="col-md-6 col-md-offset-3">
                    <img src="assets/img/sad-puppy.jpg" height="100%" width="100%">
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <p>You have yet to upload any videos for transcoding.</p>
                        <p>Please upload one <a href="#/upload">here</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
