<div ng-controller="ViewLoginCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Welcome to the Transcoder</h1>
                <h2>Please provide a username to create a session</h2>

                <form class="form">
                    <div class="form-group form-inline">
                        <label>
                            <input class="form-control" type="text" ng-model="user" value="{{existing_username}}" placeholder="eg {{username}}" required>
                        </label>
                        <button type="submit" class="btn btn-primary pull-right" ng-click="login(user)">Start</button>
                    </div>
                    <div class="form-group form-group-sm form-inline">
                        <button class="btn btn-sm btn-info" ng-click="hasId = !hasId">Already have an ID?</button>
                        <label>
                            <input ng-show="hasId" class="form-control" type="text" ng-model="session">
                        </label>
                        <button ng-show="hasId" class="btn btn-sm btn-danger" ng-click="clearIds()">Clear Ids</button>

                    </div>

                </form>
            </div>
        </div>

    </div>
</div>